body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: rgba(255, 174, 228, 0.76);
}

.jumbotron {
    background-color: rgba(236, 134, 194, 0.603);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeOfDay {
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.display-3 {
    color:#da5dc5;
    text-shadow:0 0 10px 
}

#currentDay {
    color:#ffffff
}

.lead {
    font-size: 24px
}

p {
    color:#e09fdd
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #ffffff;
    border-left: 1px solid black;
    padding: 10px;
}

.description {
    white-space: pre-wrap;
}

.time-block {
    border-radius: 15px;
}

.row {
    border-top: 1px solid white;
}

.hour {
    background-color: #fff4f4;
    color: #e09fdd;
    border-top: 1px dashed #000000;
}

::placeholder {
    color:#ffffff8e
}

.past {
    background-color: #d3d3d3;
    color: white;
}

.present {
    background-color: rgba(253, 0, 148, 0.699);
    color: white;
}

.future {
    background-color: #c577dd;
    color: white;
}

.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #570450b7;
    color: white;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}